name: Pull Request

on:
  push:
    tags:
      - '**'

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: gradle/wrapper-validation-action@v1
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: run tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
          api-level: 29
          script: ./gradlew :composed-barcodes:connectedAndroidTest
